#vbox {
	-fx-background-color: lightgreen;
	-fx-padding: 15;
}

Label {
	-fx-font-size:20;
	-fx-font-family: cursive;
	
}

Button {
	-fx-pref-width: 110px;
	-fx-background-radius: 40px;
 
}
